<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="dashboard (title,otherStaticResources, main)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}"></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/css/customcss.css}" rel="stylesheet"/>
    <th:block th:replace="${otherStaticResources} ?: ~{}"></th:block>
</head>
<body>
<div th:replace="~{/fragments/header :: header}"></div>
<div class="index" style="min-height:900px">
    <div class="container">
        <div th:replace="${main}">
        </div>
        <div th:replace="~{/fragments/menu :: menu}"></div>
    </div>
</div>
<div th:replace="~{/fragments/footer :: footer}"></div>

</body>
</html>